<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/card.css" />
    <link rel="stylesheet" href="../styles/intro.css" />
    <link rel="stylesheet" href="../styles/form.css" />
    <link rel="stylesheet" href="../styles/base.css" />
    <link rel="stylesheet" href="../styles/result.css" />

    <title>Sentiment Meter</title>
  </head>
  <body>
    <div class="container">
      <div class="form">
        <div class="intro">
          <h3 id="title">Welcome to the Sentiment Analyzer</h3>
          <p>
            Get instant sentiment Analysis for any article or blog.Just Provide
            us with the URL!
          </p>
        </div>
        <div class="card">
          <div class="input-control">
            <label for="url">Article/Blog URL</label>
            <input type="url" id="client-url" pattern="https://.*" required />
          </div>
          <button id="form-btn">Submit</button>
        </div>
      </div>
      <div class="result_div hidden">
        <h3 class="result_title">Sentiment Analysis Result</h3>
        <div class="result">
          <ul class="result_list" id="result">
            <li class="result_item" id="agreement"></li>
            <li class="result_item" id="subjectivity"></li>
            <li class="result_item" id="confidence"></li>
            <li class="result_item" id="irony"></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="../index.js"></script>
  </body>
</html>
