<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Sentiment Meter</title>
  </head>
  <body>
    <div class="container">
      <div id="error-display" class="hidden">
        <h5 class="error_title">ERROR</h5>
        <p class="error_message">please enter a valid url</p>
      </div>
      <div class="form">
        <div class="intro">
          <h3 id="title">Welcome to the Sentiment Analyzer</h3>
          <p>
            Get instant sentiment Analysis for any article or blog.Just Provide
            us with the URL!
          </p>
        </div>
        <div class="card">
          <div class="input-control">
            <label for="url">Article/Blog URL</label>
            <input type="url" id="client-url" pattern="https://.*" required />
          </div>
          <button id="form-btn">Submit</button>
        </div>
      </div>
      <div class="hidden" id="result_div">
        <!-- <div class="result_div"> -->
        <h3 class="result_title">Sentiment Analysis Result</h3>
        <div class="result">
          <ul class="result_list" id="result">
            <li class="result_item" id="agreement"></li>
            <li class="result_item" id="subjectivity"></li>
            <li class="result_item" id="confidence"></li>
            <li class="result_item" id="irony"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer">
      <h4>Sentiment Meter</h4>
      <p>&copy; 2021 Sara Elhawary.All Rights Reserved</p>
      <p>FWD Initiative Advanced Project 1</p>
    </div>
  </body>
</html>
