@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.form {
  background-color: #d1ebf5b7;
  padding: 30px 15px 15px;
  font-family: 'Roboto Condensed';
  /* border: yellow solid 1px; */
  border-radius: 13px;
  margin-top: 80px;
  /* margin-right: 30px; */
}
