@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.right {
  height: 307px;
  background-color: #229ac552;
  padding: 30px 15px 15px;
  font-family: 'Roboto Condensed';
  /* border: red solid 1px; */
  border-radius: 3px;
}
