<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/card.css" />
    <link rel="stylesheet" href="../styles/intro.css" />
    <link rel="stylesheet" href="../styles/left.css" />
    <link rel="stylesheet" href="../styles/right.css" />
    <link rel="stylesheet" href="../styles/base.css" />

    <title>Sentiment Meter</title>
  </head>
  <body>
    <div class="container">
      <img src="../assets/bg.png" alt="girl_reading" />

      <div class="right">
        <div class="intro">
          <h3 id="title">Welcome to the Sentiment Analyzer</h3>
          <p>
            Get instant sentiment Analysis for any article or blog.Just Provide
            us with the URL!
          </p>
        </div>
        <div class="card">
          <div class="input-control">
            <label for="url">Article/Blog URL</label>
            <input type="url" />
          </div>
          <button>Submit</button>
        </div>
      </div>
    </div>
  </body>
</html>
